[Unit]
Description=Run Meetup Event Announcer daily

[Timer]
OnBootSec=15min
OnCalendar=*-*-* 18:00:00
Unit=meetup-announcer.service

[Install]
WantedBy=timers.target 